/*Footer*/
.footer {
    grid-area: footer;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold;
    margin-top: 15px;
}