/*Header*/
.header {
    grid-area: header;
    font-family: 'Hind', sans-serif;
}

/*Desktop*/
@media (min-width:991px) {
    .header {
    grid-area: header;
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin: auto;
    }
}
